body {
    background: rgba(0, 75, 5, 0.7);
}

table {
    background: red;
    color: red;
    font-size: 40px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

table.face {
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    height: 440px;
    width: 255px;
    padding: 2.5px 5px 2.5px 5px;
    margin: 5% 0 0 10%;
    border: 25px solid #FFFFFA;
    border-style: double;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

table:hover,
table:hover {
    background: #FFFFFA;
    color: black;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

td.top {
    text-align: left;
}

td {
    vertical-align: middle;
    text-align: center;
}

td.bottom {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    text-align: right;
}

